// В этом файле должны быть стили только для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Не пишите здесь другие селекторы.

.page-header {
	background: linear-gradient(to bottom, #141311 0%,#3e3935 50%,#141311 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141311', endColorstr='#141311',GradientType=0 ); /* IE6-9 */
	padding-left: 0;
	padding-right: 0;
}

.page-header--logo-wrap h1{
	margin-top: 15px;
	margin-bottom: 0;
	margin-left: 15px;
	color: #fff;
	line-height: 40px;
}

.page-header--logo-wrap h1>span {
	color: #3399cc;
}

.page-header .page-header--nav {
	padding: 0;
}

.page-header .page-header--nav>ul::after {
	content: "";
	display: table;
	clear: both;
}

.page-header .page-header--nav>ul {
	margin: 0;
	padding: 0;
}	

.page-header .page-header--nav>ul>li {
	list-style: none;
}

.page-header .page-header--nav>ul>li>a{
	position: relative;
    background: red; /* For browsers that do not support gradients */    
    background: -webkit-radial-gradient(#2c83b5, #010437);
    float: right;
    height: 80px;
    width: 100px;
    color: #fff;
    text-align: center;
    text-decoration: none;
}    
