.kpi-main-wrap-container {
	margin-left: auto;
	margin-right: auto;
}

.kpi-main-wrap-container .safety-figure,
.kpi-main-wrap-container .quality-figure,
.kpi-main-wrap-container .delivery-figure,
.kpi-main-wrap-container .innovation-figure,
.kpi-main-wrap-container .cost-figure,
.kpi-main-wrap-container .people-figure,
.kpi-main-wrap-container .n-figure,
.kpi-main-wrap-container .r-figure {
	width: 120px;
	height: auto;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	margin-right: 25px;
}

.kpi-main-wrap-container .innovation-figure>img {
	height: 100px;
}

.kpi-main-wrap-container .kpi-main--figure-wrap>figure:last-child {
	margin-right: 0px;
}

.kpi-main-wrap-row {
	margin: 0 auto;
	width: 1200px;
}

.main-chart-wrap {
	width: 1200px;
}

.chart-wrap {
	display: inline-block !important;
	vertical-align: top;
	height: auto;
}

.chart {

}